

.sub_menu{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.sub_menu a{
    text-decoration: none;
}

h4{
    margin-top:30px;
    text-align: center;
    background-color:rgba(70, 65, 65, 0.446);
    border-radius: 5px;
    width: 100px;
    font-size: 16px;
    font-weight: 200;
    border: none;
    height: 25px;
    box-shadow: 0 0 10px rgba(88, 86, 86, 0.361);
    color: white;
    padding-top: 4px;
    font-family: 'Almarai', sans-serif;

}


